$lightest-surround: #F0F0F0;
$light-surround: #DAEFD6;
$dark-surround: #155707;
$darkest-surround: #145506;

$lightest-attend: #FFCCCC;
$light-attend: #F0F0F0;
$mid-attend: #8C0810;
$dark-attend: #57060D;

$lightest-neutral: #AAAAAA;
$light-neutral: #888081;
$mid-neutral: #7B817A;
$dark-neutral: #333333;

$col: 60px;

$pad: 10px;

body {
  background-color: $light-surround;
  padding: $pad;
}

#main_head {
  padding-bottom: $pad;
  img {
    float:left;
  }
  h1, h2 {
    color: $dark-attend;
  }
}

#main {
  clear:left;
}

#footer {
  color: $mid-neutral;
  border-bottom: solid 1px $lightest-neutral;
  padding-top: $pad;
}

h2 {
  color: $dark-surround;
}

h2 a, h3, h4, h5 {
    color: $dark-surround;
}

strong {
  color: $dark-neutral;
}

a {
  color: $mid-attend;
  text-decoration: none;
}

#footer a {
  color: $light-neutral;
}

nav {
  background-color: $light-attend;
  border: 1px $dark-surround solid;

  input[type="text"] {
    width: $col * 2 - $pad / 2;
    border: solid 1px $darkest-surround;
  }

  li {
    margin-bottom: 6px;
  }

  label {
    font-size: inherit;
    font-weight: inherit;
  }
}

div.post, div.page {
  background-color: $lightest-surround;
  border: 1px $mid-attend solid;
}

.meta {
  ul {
    color: $mid-neutral;
  }
}

.archive-month {
  .tags {
    color: $light-neutral;
  }
}

.meta a, .archive-month .tags a {
  color: $light-neutral;
  border-bottom: dotted 1px $light-neutral;
}

.alt {
  background-color: #DAEFD6;
}

div.date {
  color: $light-neutral;
}

div.errors {
  border: solid 1px red;
  background-color: $lightest-attend;
}

hr
{
  border-top: dotted 1px $dark-attend;
}

.related {
  background-color: $light-attend;
  border: 1px $dark-surround solid;
}

nav, div.page, div.post, div .related {
  border-radius: 5px;
}

div.related {
  padding: $pad;
  margin-bottom: $pad;
}

nav, div.post, div.page {
  padding: $pad $pad 0 $pad;
}

textarea {
  width: 8 * $col;
}

p code {
  background-color: #F8F8F8;
  border: 1px solid #C0C0C0;
  padding: 1px $pad 1px $pad;
  font-family: courier;
}
