/* High level containers */
body
{
    color: black;
    background-color: #DAEFD6;
    background: url("/images/header.png");
    font: normal 12px verdana, arial, helvetica, sans-serif;
    line-height: 1.5;
    padding: 10px;
    margin: 0px;
}

body *
{
    background: url("/images/header.png");
}

#main_head div
{
    position: absolute;
    display: inline;
    text-align: center;
    font-size: 23pt;
    left: -10px;
    top: -10px;
}

#main_head h1
{
    margin-top: 10px;
    padding-left: 187px;
    margin-bottom: 0px;
}

#main_head h2
{
    margin: -20px 0 0;
    padding-left: 27px;
    font-size: 18pt;
    color: #57060D;
    font-size: 18pt;
}

#page_container
{
    position: absolute;
    min-height: 400px;
    margin-top: 166px;
    width: 100%;
}

#content {
    width: 900px;
    margin: 5px auto;
    position: relative;
    padding-right: 55px;
/*  display: inline;*/
}

#footer
{
    position: relative;
    font-size: 8pt;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #7B817A;
    border-bottom: solid 1px #aaaaaa;
}

img
{
  border: none;
}

/* Headings */
h2
{
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 1.4em;
    color: #155707;
}

h2 a, h3, h4, h5
{
    color: #155707;
}

/* Text */
p
{
    padding: 0px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    margin-left: 0px;
    margin-right: 0px;
}

strong
{
    color: #333333;
}
/* Links */
.openid
{
    background-image: url("/images/openid_icon.png");
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0px 2px;
}

a
{
    color: #5C0810;

    text-decoration: none;
}

small a, label a
{
    text-decoration: underline;
}

a:hover
{
    text-decoration: underline;
}

#footer a
{
    color: #888081;
    text-decoration: underline;
}

/* roundrects */
#right-col div, div.page, div.post, .commentlist li, div .related
{
    border-radius: 5px;
}

/* Two columns */
#right-col
{
    position: absolute;
    top: -1px;
    right: 30px;

    margin-top: -12px;
}
#navigation, #contact
{
    width: 15em;
    padding: 5px;
    background-color: #FCE1E4;
    border: 1px #145506 solid;
    margin-bottom: 10px;
}

#right-col h2
{
    display: inline;
}


#right-col label
{
    margin-left: 0;
    font-style: normal;
}

#right-col ul
{
    padding-left: 10px;

    margin-left: 0px;
    margin-top: 0px;
    list-style: none;
}

#right-col ul li
{
    padding-left: 0px;
    margin-left: 0px;
}

#right-col h3
{
    font-size: 1.2em;
    font-weight: bold;
    font-family: verdana,arial,helvetica,sans-serif;
}

#right-col input
{
    border: solid 1px #145506;
    margin-left: 10px;
}

#right-col form
{
    margin-bottom: 1em;
}

#main
{
    padding-right: 150px;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 20px;
}

div.meta
{
    margin-top: 1em;
    margin-bottom: 1em;
}

div.post, div.page
{
    background-color: #E1F3DD;
    padding: 2px;
    padding-left: 6px;
    padding-right: 30px;
    margin-bottom: 10px;
    border: 1px #5C0810 solid;
}

/* Formatting */

.meta ul
{
    list-style: none;
    margin: 0px;
    padding-left: 0em;
    padding-bottom: 0.5em;
    display: inline;
    color: #7B817A;
    font-size: 9pt;
}
.archive-month .tags
{
    color: #888081;
}

.meta a, .archive-month .tags a
{
    color: #888081;
    border-bottom: dotted 1px #888081;
}

.meta a:hover
{
    text-decoration: none;
}

.meta ul li
{
    display: inline;
}

.meta ul li:after
{
    content: " | ";
}

.separator
{
    height: 1px;
    margin-top:5px;
    clear: both;
}

/* Forms */
label
{
    margin-left: 1em;
}

textarea, select
{
    font: normal 12px verdana, arial, helvetica, sans-serif;
}

textarea
{
    width: 500px;
}

#project_summary
{
    height: 150px;
}

#new_comment textarea, #edit_comment textarea
{
    height: 150px;
}

.alt
{
    background-color: #DAEFD6;
}

.commentlist li
{
    padding: 5px;
    border: 1px #145506 solid;
    margin-bottom: 5px;
}

div.date
{
    color: #999999;
    font-size: .8em;
}

div.comments div.body
{
    padding: 5px;
}

div.comments div.meta
{
    min-height: 0px;
    padding: 0px;
}

div.comments div.separator
{
    height: 10px;
}

div.errors
{
    border: solid 1px red;
    background-color: #ffcccc;
    padding: 5px;
    padding-left: 10px;
    width: 485px;
}

div.errors h3
{
    font-size: 1.0em;
}

.fieldWithErrors
{
    display: inline;
}

span.error
{
    font-weight: bold;
    }

hr
{
    border-top: dotted 1px #59060E;
    border-bottom: none;
    height: 1px;
}

#preview
{
    height: 200px;
    overflow: auto;
}

.related {
    background-color: #FCE1E4;
    border: 1px solid silver;
    padding: 10px;
}

/* Syntax */


/* TOC */
fieldset.toc
{
    float: right;
    border: dotted 1px black;
    background-color: #fafafa;
    padding: 10px;
    margin-left: 5px;
}

.toc legend
{
    font-weight: bold;
}

.toc ol
{
    margin: 0px;
    padding-left: 0px;
    list-style-position: inside;
}

.toc ol ol
{
    list-style-type: lower-alpha;
    padding-left: 15px;
}

pre.ruby .keyword { color: #c41f1f; }
pre.ruby .constant { color: #961818; }
pre.ruby .comment { color: #f37e00; }
pre.ruby .string { color: #b77c0a; }

