<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>
  <meta charset="utf-8">
  <title>andrewlorente.com has gone dark.</title>
  <style type="text/css">
    body { background-color: #000000; color: #ffffff; text-align: center; font-family: arial, sans-serif; }
    div.dialog {
      width: 100%;
      padding: 0;
      margin: 0;
      border-right-color: #999;
      border-bottom-color: #999;
    }
    h1 { font-size: 3em; color: #888888; line-height: 1.5em; }
    a { color: #888888; }
  </style>
</head>

<body>
  <div class="dialog">
    <h1>Andrewlorente.com has gone dark to protest SOPA and PIPA.</h1>
    <p>These two acts&mdash;one each in the house and senate&mdash;are an assault on free speech. They would make this website illegal, along with many others. As part of a global movement, this site will be dark throughout January 18.</p>
    <p><a href="http://opensource.com/life/11/12/what-sopa-means-fill-blank">Learn more</a></p>
  </div>
</body>
</html>
